@model Model.AccountModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/MyLayout.cshtml";
}
<link rel="stylesheet" href=@Url.Content("/Content/css/index.css")>
<link rel="stylesheet" href=@Url.Content("/Content/css/category.css")>
<link rel="stylesheet" href=@Url.Content("/Content/css/login.css")>
<div class="container mt-4 mb-4">
    <div class="row">
        <div class="bn-top col-12 col-xl-12 col-lg-12">
            <div class="">
                <p><img class="img-fluid" src=@Url.Content("/Content/images/bn-top.jpg") alt=""></p>
            </div>
            <div class="breadcrumb breadcrumbCategory">
                <h2>men collection</h2>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active"><a href="#">Fashion</a></li>
                </ol>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-xl-12 col-sm-12">
            <header class="page-header text-center">
                <h1>
                    Login Now
                </h1>
            </header>
        </div>
        <div class="col-lg-2 col-sm-2 col-lg-2"></div>
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
            @using (Html.BeginForm("Register", "Login", FormMethod.Post, new { @class = "form-register-account" }))
            {
                <p>Already have an account? <strong class="btn-show-login-form">Log in instead!</strong></p>
                @Html.ValidationSummary(false, "", "error")
                <div class="form-group row">
                    <label for="inputUsername3" class="col-sm-2 col-form-label">Username</label>
                    <div class="col-sm-10">
                        @Html.TextBoxFor(model => model.UserName, new { @class = "form-control", id = "inputUsername3", placeholder = "Name" })
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputPassword3" class="col-sm-2 col-form-label">Password</label>
                    <div class="col-sm-10">
                        @Html.PasswordFor(model => model.PassWord, new { @class = "form-control", id = "inputPassword3", placeholder = "Password" })
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputNamed3" class="col-sm-2 col-form-label">Name</label>
                    <div class="col-sm-10">
                        @Html.TextBoxFor(model => model.Customer.Name, new { @class = "form-control", id = "inputNamed3", placeholder = "Name" })
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputPhoneNumber3" class="col-sm-2 col-form-label">Phone</label>
                    <div class="col-sm-10">
                        @Html.TextBoxFor(model => model.Customer.Phone, new { @class = "form-control", id = "inputPhoneNumber3", placeholder = "Phone" })                       
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputAddress3" class="col-sm-2 col-form-label">Address</label>
                    <div class="col-sm-10">
                        @Html.TextBoxFor(model => model.Customer.Address, new { @class = "form-control", id = "inputAddress3", placeholder = "Address" })
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
                    <div class="col-sm-10">
                        @Html.TextBoxFor(model => model.Customer.Email, new { @class = "form-control", id = "inputEmail3", placeholder = "Email" })
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputBirthday3" class="col-sm-2 col-form-label">Birthday</label>
                    <div class="col-sm-10">
                        @Html.TextBoxFor(model => model.Customer.Birthday, new { @class = "form-control", id = "inputBirthday3", placeholder = "Birthday", @type = "date"})
                    </div>
                </div>
                <div class="form-group row">
                    <div class="offset-sm-2 col-sm-10 text-center">
                        <button type="submit" class="btn btn-primary">Sign up</button>
                    </div>
                </div>
            }
            @using (Html.BeginForm("Login", "Login", FormMethod.Post, new { @class = "form-login-account" }))
            {
                <p>Yet have an account? <strong class="btn-show-register-form">Register in now!</strong></p>
                @Html.ValidationSummary(false, "", "error")
                <div class="form-group row">
                    <label for="inputEmailLogin3" class="col-sm-2 col-form-label">Username</label>
                    <div class="col-sm-10">
                        @Html.TextBoxFor(model => model.UserName, new { @class = "form-control", id = "inputEmailLogin3", placeholder = "Username" })
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputPasswordLogin3" class="col-sm-2 col-form-label">Password</label>
                    <div class="col-sm-10">
                        @Html.PasswordFor(model => model.PassWord, new { @class = "form-control", id = "inputPasswordLogin3", placeholder = "Password" })
                    </div>
                </div>
                <div class="form-group row ">
                    <div class="offset-sm-2 col-sm-10 text-center">
                        <button type="submit" class="btn btn-primary">Sign in</button>
                    </div>
                </div>
            }
        </div>
        <div class="col-lg-2 col-sm-2 col-lg-2"></div>
    </div>

    <script src=@Url.Content("/Content/js/jquery-3.3.1.min.js")></script>
    <script src=@Url.Content("/Content/js/popper.js")></script>
    <script src=@Url.Content("/Content/bootstrap-4.0.0/js/bootstrap.min.js")></script>
    <script src=@Url.Content("/Content/js/index.js")></script>
</div>
